<?xml version="1.0"?>
  <robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur5_arm1">
  
  <xacro:include filename="$(find ur_gazebo)/urdf/ur_macro.xacro"/>
  <xacro:include filename="$(find ur_description)/urdf/inc/ur5_macro.xacro"/>
  
  <xacro:include filename="$(find ur5_control)/urdf/ur5_arm1/ur5_arm1_macro.urdf"/>

  <link name="world"/>
  
  <xacro:ur5_robot prefix="arm1_"/>

  <joint name="arm1_world_joint" type="fixed">
    <parent link="world" />
    <child link="arm1_pedestal" />
    <origin xyz="0.35 -0.45 0" rpy="0.0 0.0 0.0"/>
  </joint>

</robot>
