<?xml version="1.0"?>
  <robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur5_pedestal">
  
  <xacro:include filename="$(find ur_gazebo)/urdf/ur_macro.xacro"/>
  <xacro:include filename="$(find ur_description)/urdf/inc/ur5_macro.xacro"/>

  <link name="world"/>

  <xacro:ur5_robot prefix="" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link="base_link" />
    <origin xyz="0 0 0" rpy="0.0 0.0 0.0"/>
  </joint>
  
  <link name="tool0_controller"/>
  <joint name="tool_controller_fake_joint" type="fixed">
    <parent link="tool0"/>
    <child link="tool0_controller"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  
  <xacro:property name="camera_height" value="0.05" />
  <xacro:property name="camera_length" value="0.05" />
  <xacro:property name="camera_width" value="0.05" />
  
  <!-- Camera -->
  <link name="camera_link">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
    <box size="${camera_height} ${camera_length} ${camera_width}"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
    <box size="${camera_height} ${camera_length} ${camera_width}"/>
      </geometry>
      <material name="red"/>
    </visual>

    <inertial>
      <mass value="1e-5" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link>
  
  <joint name="camera_joint" type="fixed">
    <axis xyz="0 1 0" />
    <origin xyz="0 0 0" rpy="0 ${(3*pi)/2} ${(3*pi)/2}"/>
    <parent link="tool0_controller"/>
    <child link="camera_link"/>
  </joint>
  
</robot>
