<?xml version="1.0"?>
<launch>
  <arg name="sim" default="false" />
  <arg name="debug" default="false" />

  <!-- Remap follow_joint_trajectory -->
  <remap if="$(arg sim)" from="arm1/arm1_scaled_pos_joint_traj_controller/follow_joint_trajectory" to="arm1_eff_joint_traj_controller/follow_joint_trajectory"/>
  <remap if="$(arg sim)" from="arm2/arm2_scaled_pos_joint_traj_controller/follow_joint_trajectory" to="arm2_eff_joint_traj_controller/follow_joint_trajectory"/>
  

  <!-- Launch moveit -->
  <include file="$(find ur5_custom_duel_moveit_config)/launch/move_group.launch">
    <arg name="debug" default="$(arg debug)" />
  </include>
</launch>
